mrbr-ui-containers-taskbar{
    height:  var(--default-control-toolbar-size);
    background-color:  var(--default-control-background-color-alpha);
    box-sizing: border-box;
}
mrbr-ui-containers-taskbar *{
    opacity: 1;
}