:root{
    --default-control-padding: 0.25rem;
    --default-control-font-size: 12px;
    --default-control-background-color: gray;
    --default-control-resize-bar-size: 0.0rem;
    --default-control-toolbar-size:2rem;
    --default-control-border: 1px black solid;
}