:root {
    --default-control-font: "Arial";
    --default-control-padding: 0.25rem;
    --default-size: 12;
    --default-control-height: calc(var(--default-size) * 1.5px) ;
    --default-control-font-name: Arial,Helvetica Neue,Helvetica,sans-serif;
    --default-control-font-size: calc(var(--default-size) * 1px);
    --default-control-font-color: white;
    --default-control-background-color: gray;
    --default-control-background-color-alpha: rgba(64,64,64, .43);
    --default-control-resize-bar-size: 0.0rem;
    --default-control-toolbar-size: 1.5rem;
    --default-control-border: .125rem black solid;
    --default-icon-size-0: 1rem;
    --default-icon-size-1: 1.5rem;
    --default-icon-size-2: 2rem;
    --default-icon-size-3: 3rem;
    --default-control-animation-speed: 0.25s;
    --default-control-applied-dpi: 1;
    --default-control-border-width: .063rem;
    --default-control-caption-font-name: var(--default-control-font-name);
    --default-control-caption-font-size: .75rem;
    --default-control-caption-height: 2rem;
    --default-control-caption-width: 1rem;
    --default-control-icon-font-name: var(--default-control-font-name);
    --default-control-icon-font-size: 0.5rem;
    --default-control-icon-spacing: .75rem;
    --default-control-icon-title-wrap: 0;
    --default-control-icon-vertical-spacing: .75rem;
    --default-control-menu-font-name: var(--default-control-font-name);
    --default-control-menu-font-size: 1rem;
    --default-control-menu-height: 1rem;
    --default-control-menu-width: 6rem;
    --default-control-message-font: var(--default-control-font-name);
    --default-control-min-animate: 0.25s;
    --default-control-padded-border-width: .125rem;
    --default-control-scroll-height: 0.5rem;
    --default-control-scroll-width: 0.5rem;
    --default-control-shell-icon-size: 0.5rem;
    --default-control-sm-caption-font: 0.5rem;
    --default-control-sm-caption-height: 0.75;
    --default-control-sm-caption-width: 0.5rem;
    --default-control-status-font-name: var(--default-control-font-name);
    --default-control-status-font-size: 0.75rem;
    --default-colour-desktop: rgb(25,25,112);
    --default-colour: rgb(0, 0, 0);
    --default-colour-active-border: rgb(212, 208, 200);
    --default-colour-active-title: rgb(10, 36, 106);
    --default-colour-app-workSpace: rgb(128, 128, 128);
    --default-colour-button-alternate-face: rgb(181, 181, 181);
    --default-colour-button-dk-shadow: rgb(64, 64, 64);
    --default-colour-button-face: rgb(212, 208, 200);
    --default-colour-button-hilight: rgb(255, 255, 255);
    --default-colour-button-light: rgb(212, 208, 200);
    --default-colour-button-shadow: rgb(128, 128, 128);
    --default-colour-button-text: rgb(0, 0, 0);
    --default-colour-gradient-active-title: rgb(166, 202, 240);
    --default-colour-gradient-inactive-title: rgb(192, 192, 192);
    --default-colour-gray-text: rgb(128, 128, 128);
    --default-colour-hilight: rgb(10, 36, 106);
    --default-colour-hilight-text: rgb(255, 255, 255);
    --default-colour-hot-tracking-color: rgb(0, 0, 128);
    --default-colour-inactive-border: rgb(212, 208, 200);
    --default-colour-inactive-title: rgb(128, 128, 128);
    --default-colour-inactive-title-text: rgb(212, 208, 200);
    --default-colour-info-text: rgb(0, 0, 0);
    --default-colour-info-window: rgb(255, 255, 255);
    --default-colour-menu: rgb(212, 208, 200);
    --default-colour-menu-text: rgb(0, 0, 0);
    --default-colour-scrollbar: rgb(212, 208, 200);
    --default-colour-title-text: rgb(255, 255, 255);
    --default-colour-window: rgb(255, 255, 255);
    --default-colour-window-frame: rgb(0, 0, 0);
    --default-colour-window-text: rgb(0, 0, 0);
}