.button-display {
    display: flex;
    background-color: var(--default-colour-button-face);
    color: var(--default-colour-button-text);    
    width: var(--default-icon-size-1);
    height:var(--default-icon-size-1);
    /* --default-colour-button-face: rgb(212, 208, 200);
    --default-colour-button-hilight: rgb(255, 255, 255);
    --default-colour-button-light: rgb(212, 208, 200);
    --default-colour-button-shadow: rgb(128, 128, 128);
    --default-colour-button-text: rgb(0, 0, 0); */

}

mrbr-ui-controls-button, mrbr-ui-controls-button > button {
    height:var(--default-icon-size-1);
    width:var(--default-icon-size-1);
    border: none;
    display: block;
    padding:0px;
    /* background-color: transparent; */
}
.button-display-imagetext-horizontal {
    flex-flow: row;
}
.button-display-textimage-horizontal {
    flex-flow: row-reverse;
}
.button-display-imagetext-vertical {
    flex-flow: column;
}
.button-display-textimage-vertical {
    flex-flow: column-reverse;
}
.button-image {    
    height: var(--default-icon-size-0);
    width: var(--default-icon-size-0);
    margin:auto;
    padding:0px;
    /* height: var(100%);
    width: var(100%); */
}
.button-display-content-horizontal {
    margin: auto 0.125rem auto 0.125rem;
    vertical-align: middle;
}
 .button-display-content-vertical {
    margin: 0.125rem auto 0.125rem auto;
    text-align: center;
}
.button-display-imagetext-horizontal > img {
    margin-left: 0px;
}