mrbr-ui-navigation-menu {
    position: absolute;
    display: none;
    font-size: var(--default-control-menu-font-size);
}

mrbr-ui-navigation-menu>nav {
    background-color: var(--default-colour-menu);
    color: var(--default-colour-menu-text);
    visibility:hidden;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: 0.5s, var(--default-control-animation-speed);
    transition-delay: 0.5s, var(--default-control-animation-speed);
}
mrbr-ui-navigation-menu.show {
     display: block;
}

mrbr-ui-navigation-menuitem {
    height: 1.25rem;
}
mrbr-ui-navigation-menu * {
    padding: 0px;
    margin: 0px;
}
mrbr-ui-navigation-menu>nav>mrbr-ui-navigation-submenu {
    display: flex;
    box-sizing: border-box;
    padding: 0px;
    -webkit-box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.43);
    box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.43);
}
mrbr-ui-navigation-menu.show>nav.show {
    visibility: visible;
    opacity: 1;
    transition-property: visibility, opacity;
    transition-duration: 0s, var(--default-control-animation-speed);
    transition-delay: 0s, var(--default-control-animation-speed);
}
mrbr-ui-navigation-menu>nav>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem {
    pointer-events: all;
    opacity: 1;
    transition: opacity var(--default-control-animation-speed);
}
mrbr-ui-navigation-menu>nav>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem mrbr-ui-navigation-menuitem mrbr-ui-navigation-submenu {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    right: 0;    
}
mrbr-ui-navigation-menu mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu {
    position: absolute;
    pointer-events: none;
    bottom: 100%;
}
mrbr-ui-navigation-menu mrbr-ui-navigation-menuitem {
    position: relative;
    display: block;
    opacity: 0;
    cursor: pointer;
}
mrbr-ui-navigation-menu mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu {
    position: absolute;
    pointer-events: none;
}
mrbr-ui-navigation-menu[direction='down'] mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu {
    top: 100%;
}

mrbr-ui-navigation-menu[direction='up'] mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu {
    bottom: 100%;
}
mrbr-ui-navigation-menu>nav>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem mrbr-ui-navigation-menuitem mrbr-ui-navigation-submenu {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    right: 0;
}

mrbr-ui-navigation-menu[direction='down']>nav>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem mrbr-ui-navigation-menuitem mrbr-ui-navigation-submenu {
    top: 0;
}

mrbr-ui-navigation-menu[direction='up']>nav>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem mrbr-ui-navigation-menuitem mrbr-ui-navigation-submenu {
    bottom: 0;
}

mrbr-ui-navigation-submenu mrbr-ui-navigation-menuitem a {
    white-space: nowrap;
    display: block;
}

mrbr-ui-navigation-menuitem:hover>mrbr-ui-navigation-submenu {
    opacity: 1;
    pointer-events: initial;
    transition: opacity var(--default-control-animation-speed);
    -webkit-box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.43);
    box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.43);
}
mrbr-ui-navigation-menuitem{
    height:1.5rem;
    vertical-align: middle;
    margin-top:auto;
    margin-bottom: auto;
}
mrbr-ui-navigation-menuitem:hover>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem, mrbr-ui-navigation-submenu:hover>mrbr-ui-navigation-menuitem {
    opacity: 1;
    transition: opacity var(--default-control-animation-speed);
}

mrbr-ui-navigation-menu a {
    background: var(--default-control-background-color);
    color: var(--default-control-font-color);
    min-width: 6rem;
    transition: background var(--default-control-animation-speed), color var(--default-control-animation-speed);
    box-sizing: border-box;
    height: var(--default-control-menu-font-size);
    padding: 0.125rem 0.25rem 0.125rem 1.25rem;
    position: relative;
}

mrbr-ui-navigation-menu a:hover:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, .43);
    width: 0.25rem;
    height: 100%;
}

mrbr-ui-navigation-menu>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem {
    transition: opacity var(--default-control-animation-speed);
    opacity: 0;
}

mrbr-ui-navigation-menu>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem:hover>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem {
    opacity: 1;
    transition: opacity var(--default-control-animation-speed);
}

mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem {
    opacity: 0;
}

mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem:hover>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem {
    opacity: 1;
    transition: opacity var(--default-control-animation-speed);
}

mrbr-ui-navigation-menu[direction='down']>nav {
    height: 1.25rem;
}

mrbr-ui-navigation-menu[direction='down']>nav>mrbr-ui-navigation-submenu {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

mrbr-ui-navigation-menu[direction='up']>nav {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}