:host(mrbr-ui-navigation-menu) {
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    color: var(--default-colour-menu-text);
    font-family: var(--default-control-font-name);
    font-size: var(--default-control-menu-font-size);
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:host(mrbr-ui-navigation-menu) mrbr-ui-navigation-menuitem {
    display: flex;
    position: relative;
    white-space: nowrap;
    word-break: keep-all;
    box-sizing: border-box;
    font-family: var(--default-control-font-name);
    /* padding:var(--default-control-padding) ; */
    font-size: var(--default-control-menu-font-size);
    background-color: var(--default-colour-menu);
    ;
}
mrbr-ui-navigation-menuitem > div:first-child
{
    margin-right:3px;
    padding-right:3px;
    border-right: var(--default-control-padded-border-width) inset white;
}
:host(mrbr-ui-navigation-menu)>mrbr-ui-navigation-menuitem {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-family: var(--default-control-font-name);   
    margin-top: auto ;
    margin-bottom: auto ;
}

:host(mrbr-ui-navigation-menu) mrbr-ui-navigation-menuitem>a {
    text-decoration: none;
    color: inherit;
    font-family: var(--default-control-font-name);
    font-size: var(--default-control-menu-font-size);
    box-sizing: border-box;
     padding-left: var( --default-control-padded-border-width);
    vertical-align:middle;    
}

:host(mrbr-ui-navigation-menu)>mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu>mrbr-ui-navigation-menuitem>a {
    background-color: var(--default-colour-menu);    
    margin-top: auto ;
    margin-bottom: auto ;
}
:host(mrbr-ui-navigation-menu) mrbr-ui-navigation-submenu {
    box-sizing: border-box;
    background-color: var(--default-colour-menu);
}

:host(mrbr-ui-navigation-menu) mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu:not(.-active) {
    display: none;
    opacity: 0;
}

:host(mrbr-ui-navigation-menu) mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu.-active {
    display: flex;
    position: absolute;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    opacity: 0;
}
:host(mrbr-ui-navigation-menu) mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu.-visible {
    opacity: 1;    
    transition: var(--default-control-animation-speed) opacity;
}
:host(mrbr-ui-navigation-menu) mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu:not(.-visible) {
    opacity: 0;    
    transition: var(--default-control-animation-speed) opacity;
}

.bottom-right {
    box-sizing: border-box;
    bottom: 0px;
    right: 100%;
}
.right-bottom {
    box-sizing: border-box;
    bottom: 100%;
    right: 0;
}

.top-right {
    box-sizing: border-box;
    right: 0px;
    top: 100%;
}

.bottom-left {
    box-sizing: border-box;
    bottom: 0px;
    left: 100%;
}
:host(mrbr-ui-navigation-menu)>mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu mrbr-ui-navigation-menuitem>div {
    width: var(--default-icon-size-1);
    height: var(--default-icon-size-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--default-icon-size-0) var(--default-icon-size-0);
}

:host(mrbr-ui-navigation-menu)>mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu mrbr-ui-navigation-menuitem[type='header'], :host(mrbr-ui-navigation-menu)>mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu mrbr-ui-navigation-menuitem[type='header']>a {
    font-size: var(--default-control-sm-caption-font);
    height: var(--default-control-sm-caption-height);
    border: none;
    color: var(--default-colour-active-title-text);
    background-color: var(--default-colour-active-title);
}

:host(mrbr-ui-navigation-menu)>mrbr-ui-navigation-menuitem>mrbr-ui-navigation-submenu mrbr-ui-navigation-menuitem[type='header']>div {
    display: none;
}