:host {
    display: flex;
    box-sizing: border-box;
    
}

:host([navlocation="top"]), :host([navlocation="bottom"]) {
    height: 100%;
    width: var(--default-icon-size-1);
}

:host([navlocation="left"]), :host([navlocation="right"]) {
    /*height: var(--default-icon-size-0);*/
    /* height: var(--default-control-menu-height); */
    height:18px;
    width: 100%;
}

:host>mrbr-ui-navigation-menu {
    width: 100%;
    height: 100%;
    background-image: url("ui/resources/images/svg/action/ic_settings_24px.svg");
    background-size: var(--default-icon-size-0) var(--default-icon-size-0);
    background-position: center center;
    background-repeat: no-repeat;
}